mat-grid-tile{
    background-color: #FF0000;
}

.pic2{
    background-image: url(/assets/images/hg.jpg);
}

p{
    opacity: 0;
}

.pic4{
    background-image: url(/assets/images/e.jpg);
}

.btn btn-danger{
    padding: 0%;
    margin: 5px;
}




.pic1{
    /*background: url(/assets/images/col1.jpg);*/
    opacity: 0.9;
}
.pic5{
    background-image: url(/assets/images/hg.jpg);
}

h5{
    opacity: 1;
    color: gold;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  h1{
      color: black;
  }