<mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px;">
  <mat-grid-tile>
       <a routerLink="/highschoollist" style="color: brown;"> <div class="pic1">
           <h1>HIGH SCHOOL</h1><br><br>
    
           <h5>If you are looking for the best prescribed books of your high school syllabus then our collection is just the right stop for!
            From RD Sharma to wrenin Martin we have got  just the right collection for high school graders!
          </h5>
      </div></a>
  </mat-grid-tile>
  
    <mat-grid-tile>

      <div class="pic2">
        <p>SENTENCE EXAMPLES
            He was skilled at deftly combining mecha combat, martial arts, international criminal intrigue, high-school politics and a dash of teen romance.
            Though earning a degree isn't cheap, workers with bachelor's degrees earn significantly more than their counterparts who have only high-school diplomas, and each subsequent level of education is likely to earn moms an even bigger paycheck.
            High-school players love the cleats as well, touting their sturdiness and grip, as well as their affordability.
            For example, some high-school graduates or college students may choose summer work on Alaska fishing boats.
            Good for high-school or college students that need a backpack equipped to carry a notebook computer.
            For example, some high-school graduates or college students may choose summer work on Alaska fishing boats.
            Good for high-school or college students that need a backpack equipped to carry a notebook computer
            For example, some high-school graduates or college students may choose summer work on Alaska fishing boats.
            Good for high-school or college students that need a backpack equipped to carry a notebook computer</p>
      
      </div>

     
    
    
    
    
    
    </mat-grid-tile>
  <mat-grid-tile>
    <div class="pic4">
        <p>SENTENCE EXAMPLES
            He was skilled at deftly combining mecha combat, martial arts, international criminal intrigue, high-school politics and a dash of teen romance.
            Though earning a degree isn't cheap, workers with bachelor's degrees earn significantly more than their counterparts who have only high-school diplomas, and each subsequent level of education is likely to earn moms an even bigger paycheck.
            High-school players love the cleats as well, touting their sturdiness and grip, as well as their affordability.
            For example, some high-school graduates or college students may choose summer work on Alaska fishing boats.
            Good for high-school or college students that need a backpack equipped to carry a notebook computer.
            For example, some high-school graduates or college students may choose summer work on Alaska fishing boats.
            Good for high-school or college students that need a backpack equipped to carry a notebook computer
            For example, some high-school graduates or college students may choose summer work on Alaska fishing boats.
            Good for high-school or college students that need a backpack equipped to carry a notebook computer
            He was skilled at deftly combining mecha combat, martial arts, international criminal intrigue, high-school politics and a dash of teen romance.
            Though earning a degree isn't cheap, workers with bachelor's degrees earn significantly more than their counterparts who have only high-school diplomas, and each subsequent level of education is likely to earn moms an even bigger paycheck.
            High-school players love the cleats as well, touting their sturdiness and grip, as well as their affordability.
            For example, some high-school He was skilled at deftly combining mecha combat, martial arts, international criminal intrigue, high-school politics and a dash of teen romance.
            Though earning a degree isn't cheap, workers with bachelor's degrees earn significantly more than their counterparts who have only high-school diplomas, and each subsequent level of education is likely to earn moms an even bigger paycheck.
            High-school players love the cleats as well, touting their sturdiness and grip, as well as their affordability.
            For example, some high-school 
          </p>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
      <a routerLink="/universitybooklist"  style="color: crimson;"> <div class="pic1">

    <h1>UNIVERSITY</h1><br>


    <h5>Ultimate resources for general studies technical content , professional training and reference books at University level.</h5>
    </div></a><br><br>
    

  
  <button type="button" class="btn btn-danger" routerLink="/firstpage">GO BACK</button>
</mat-grid-tile>



</mat-grid-list>