<div class="container">
        <ul class="list-group">
                <li class="list-group-item list-group-item-danger">CLASS 1
                                <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-2/" target="_blank"><button style="color: white;">Get Link</button></a>
            
                </li>
        
        <li class="list-group-item list-group-item-primary">CLASS 2
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-2/" target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        <li class="list-group-item list-group-item-secondary">CLASS 3
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-3/" target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        <li class="list-group-item list-group-item-success">CLASS 4
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-4/" target="_blank"><button style="color: white;">Get Link</button></a>
    
        </li>
        <li class="list-group-item list-group-item-danger">
                CLASS 5           
                 <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-5/" target="_blank"><button  style="color: white;">Get Link</button></a>
        </li>
        <li class="list-group-item list-group-item-warning">CLASS 6            
                <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-6/" target="_blank"><button  style="color: white;">Get Link</button></a>
        </li>
        <li class="list-group-item list-group-item-info">CLASS 7
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-7/" target="_blank"><button  style="color: white;">Get Link</button></a>

        </li>
        <li class="list-group-item list-group-item-yellow">CLASS 8
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-8/" target="_blank"><button  style="color: white;">Get Link</button></a>

        </li>
        <li class="list-group-item list-group-item-yellow">CLASS 9
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-9/" target="_blank"><button  style="color: white;">Get Link</button></a>

        </li>
        <li class="list-group-item list-group-item-danger">CLASS 10
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-for-class-10/" target="_blank"><button  style="color: white;">Get Link</button></a>

        </li>
        <li class="list-group-item list-group-item-green">CLASS 11            
                <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-11/" target="_blank"><button  style="color: white;">Get Link</button></a>
        </li>
        <li class="list-group-item list-group-item-danger">CLASS 12
                        <a href="https://www.tiwariacademy.com/ncert-books/ncert-books-class-12/" target="_blank"><button  style="color: white;">Get Link</button></a>

        </li>
        <button type="button" class="btn btn-danger" routerLink="/firstpage">GO BACK</button>

    
    
      </ul>
      </div>