<div class="container">
        <ul class="list-group">
                <li class="list-group-item list-group-item-danger">COLORS OF SPACE
                                <a href="http://www.loyalbooks.com/book/the-colors-of-space-by-marion-zimmer-bradley" target="_blank"><button style="color: white;">Get Link</button></a>
            
                </li>
        
        <li class="list-group-item list-group-item-primary">INVISIBLE MAN
                        <a href="http://www.loyalbooks.com/book/invisible-man-by-h-g-wells" target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        <li class="list-group-item list-group-item-secondary">FROM THE EARTH TO THE MOON
                        <a href= "http://www.loyalbooks.com/book/from-the-earth-to-the-moon-by-jules-verne"  target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        
       
        
        <button type="button" class="btn btn-danger" routerLink="/nonacademics">GO BACK</button>

    
    
      </ul>
      </div>