<p>KitabiKeeda is a nonprofit educational initiative , our mission  is to give every student
     the tools they need to be successful . Kitabi Keeda is a static website that will help the readers to find authentic
      reading material.  Website will also provide links for different genres of books, related to academics as well as
       non-academics to the readers in an interactive way.  The website’s aim is to reduce redundancy related to link 
       redirection in the design of the reading systems at the book level online. Kitabi Keeda is basically a web portal
        that basically has a collection of high school grade study material as well as the study material of higher studies
        . Apart from this it consist of wide range non- academic category starting from fiction, non- fiction, sci-fi, 
        and romance.
</p>

<h4>For Further details contact us.</h4>

<button type="button" class="btn btn-danger" routerLink="/firstpage">GO BACK</button>
