<h1 class="display-4"><strong>Kitabi Keeda</strong></h1>

<ul>
    <li class="item1">
        <div class="bg">
            <h2><span></span>HOME</h2>

        </div></li>
    <li class="item2"><div class="bg">
            <h2><a routerLink="/academics" style="color: #008080"><span></span>ACADEMICS</a></h2>

    </div></li>
    <li class="item3"><div class="bg">
            <h2><a routerLink="/nonacademics" style="color: #008080"><span></span>NON-ACADEMICS</a></h2>

    </div></li>
    <li class="item4"><div class="bg">
            <h2><a routerLink="/contactus" style="color: #008080"><span></span>CONTACT US</a></h2>

    </div></li>
    <li class="item5"><div class="bg">
            <h2><a routerLink="/aboutus" style="color: #008080"><span></span>ABOUT US</a></h2>

    </div></li>
</ul>

