<ul class="list-group">
        <li class="list-group-item list-group-item-danger">C
                        <a href="https://www.slideshare.net/faniamjad/cfakepathlet-us-c-yashwant-kanetkar" target="_blank"><button>Get Link</button></a>
    
        </li>

<!--<li class="list-group-item list-group-item-primary">DATA STRUCTURE
                <a href="http://bayanbox.ir/view/4177858657730907268/introduction-to-algorithms-3rd-edition.pdf" target="_blank"><button>Get Link</button></a>

</li>-->
<li class="list-group-item list-group-item-secondary">C++
                <a href="http://www.angelfire.com/art2/ebooks/teachyourselfcplusplusin21days.pdf" target="_blank"><button>Get Link</button></a>

</li>
<!--<li class="list-group-item list-group-item-success">NETWORKING
                <a href="" target="_blank"><button>Get Link</button></a>

</li>
<li class="list-group-item list-group-item-success">OPERATING SYSTEMS
        <a href="" target="_blank"><button>Get Link</button></a>

</li>
<li class="list-group-item list-group-item-success">SOFTWARE ENGINEERING
        <a href="" target="_blank"><button>Get Link</button></a>

</li>-->
<button type="button" class="btn btn-danger" routerLink="/firstpage">GO BACK</button>
</ul>