<div class="container">
        <ul class="list-group">
                <li class="list-group-item list-group-item-danger">ALICES IN WONDERLAND
                                <a href="http://www.loyalbooks.com/book/alices-adventures-in-wonderland-by-lewis-carroll" target="_blank"><button style="color: white;">Get Link</button></a>
            
                </li>
        
        <li class="list-group-item list-group-item-primary">ODYSSEY
                        <a href="http://www.loyalbooks.com/book/the-odyssey-by-homer" target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        <li class="list-group-item list-group-item-secondary">WAR AND PEACE
                        <a href= "http://www.loyalbooks.com/book/war-and-peace-book-01-by-leo-tolstoy"  target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        
       
        
        <button type="button" class="btn btn-danger" routerLink="/nonacademics">GO BACK</button>

    
    
      </ul>
      </div>