<div class="container">
                <ul class="list-group">
                        <li class="list-group-item list-group-item-danger">THE 911
                                        <a href="http://www.loyalbooks.com/book/the-911-commission-report-by-the-911-commission" target="_blank"><button style="color: white;">Get Link</button></a>
                    
                        </li>
                
                <li class="list-group-item list-group-item-primary">ALEXANDER THE GREAT
                                <a href="http://www.loyalbooks.com/book/alexander-the-great-by-jacob-abbott" target="_blank"><button  style="color: white;">Get Link</button></a>
            
                </li>
                <li class="list-group-item list-group-item-secondary">ORIGIN OF SPECIES
                                <a href= "http://www.loyalbooks.com/book/the-origin-of-species-by-charles-darwin"  target="_blank"><button  style="color: white;">Get Link</button></a>
            
                </li>
                <li class="list-group-item list-group-item-secondary">ORIGIN OF SPECIES
                                <a href= "http://www.loyalbooks.com/book/the-autobigraphy-of-benjamin-franklin-ed-by-frank-woodworth-pine"  target="_blank"><button  style="color: white;">Get Link</button></a>
            
                </li>
                
               
                
                <button type="button" class="btn btn-danger" routerLink="/nonacademics">GO BACK</button>
        
            
            
              </ul>
              </div>