<div class="container">
        <ul class="list-group">
                <li class="list-group-item list-group-item-danger">ROMEO AND JULIET 
                                <a href="http://www.loyalbooks.com/book/romeo-and-juliet-by-william-shakespeare" target="_blank"><button style="color: white;">Get Link</button></a>
            
                </li>
        
        <li class="list-group-item list-group-item-primary">WUTHERUNG HEIGHTS
                        <a href="http://www.loyalbooks.com/book/wuthering-heights-by-emily-bronte" target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        <li class="list-group-item list-group-item-secondary">PRIDE AND PREJUDICE
                        <a href= "http://www.loyalbooks.com/book/pride-and-prejudice-by-jane-austen"  target="_blank"><button  style="color: white;">Get Link</button></a>
    
        </li>
        
       
        
        <button type="button" class="btn btn-danger" routerLink="/nonacademics">GO BACK</button>

    
    
      </ul>
      </div>